<%- include('partials/header')%>
<main>
    <!-- For now Search Bar won't be in saved article,
         we can, however, add the search bar to search
         articles by catagory
    -->
    <!-- <section> 
        <form class="search-button" action="/articles/api" method="POST">
            <input type="text" name="articleTypes" size="50" required>
            <div>
                <button type="submit" class="btn btn-lg btn-dark">Search</button>
            </div>
        </form>
    </section> -->
    <!-- articles section -->
    <section>
        <div class="news-cards">
            <%for(let i = 0; i < articles.length; i++){%>
            <%let articleID=articles[i]._id%>
            <%let articleTitle=articles[i].title%>
            <%let articleContent=articles[i].content.substring(0,150)%>
            <%let articleAuthor=articles[i].author%>
            <%let articleDescription=articles[i].description%>
            <%let articleUrl=articles[i].url%>
            <%let articlePublished=articles[i].publishedAt%>
            <div class="news-card">
                <form action="/articles/edit-article" method="POST">
                     <div class="text-start p-4">
                        <button type="submit" class="btn btn-lg btn-dark">
                            <input type="hidden" name="articleID" value=<%=articleID%>
                            <a href="/articles/edit-article" class="text-light">Edit</a>
                        </button>
                    </div>
                </form>
                <h2 class="h2 font-weight-bold">
                    <a href="<%=articles[i].url%>" target="_blank" rel="noopener noreferrer"><%=articleTitle.substring(0,40)%>..</a>
                </h2>
                <p class="h4"><%=articleContent%>..</p>
                <%if(articleAuthor){%>
                    <p class="h5 text-center font-weight-bold">By <%=articleAuthor%></p>
                <%}else{%>
                    <p class="h5 text-center font-weight-bold">By Unknown</p>
                <%}%>
                <form  action="/articles/saved-articles/<%=articleID%>?_method=DELETE" method="POST">
                 <input type="hidden" name="articleLength" value="<%=articles.length%>">
                    <div class="text-end p-4">
                        <button type="submit" class="btn btn-lg btn-dark">Delete</button>
                    </div>
                </form>
            </div>
            <%}%>
        </div>
    </section>

    <!-- saved article button -->
    <section>
        <div class="text-end py-5" id="saved-article-btn">
            <button type="submit" class="btn btn-lg btn-dark"> <a
                    href="/articles/api">Go to news page</a> 
            </button>
        </div>
    </section>
</main>
<%- include('partials/footer')%>
